/* Set gray background color and 100% height */
    .sidenav {
      background-color: #F2F2F2;
    height: 100%; /* Full height */
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto; /* Enable scrolling if the sidenav has too much content */

    }
      .blue{color:#0070C9;}
      .red{color:#D30000;}
      .card {background:#EBF4FB;padding:20px;}
      .nav-pills>li>a {border-radius:0px; color:#000; }
      .nav-pills>li>a:hover {color:#0070C9; }
      .nav-pills>li.active>a,.nav-pills>li.active>a:hover {background-color: #fff; color:#0070C9;}
      .container-borders{padding: 20px;}
      .main{background: #FAF8F8;}
      .rounded-circle {border-radius: 50%;}
      .dropdown-menu {padding:5px 10px;}
      .dropdown {padding:5px 10px;}
      .btn-primary {
    color: #fff;
    background-color: #0070C9;
    border-color: #2e6da4;
          display: inline-box;float:right;
}
.btn-secondary{
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
          display: inline-box;float:right;
    margin-left:15px;
}
      h2,h3,h4,h5{width:auto;display:inline;}
      label{font-weight:400;}
      .modal-body{padding:30px;}
      
      .breadcrumb {
    padding: 8px 15px;
    margin-bottom: 10px;
    list-style: none;
    background-color: #fff;
    border-radius: 0px;
}
      .table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
          margin-top:20px;}
      .table .nested-table {
    background-color: transparent;font-size: 12px;
    margin-bottom: 0px;
          margin-top:0px;}
      
      .table.nested-table>tbody>tr>td{
    padding: 4px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 0px solid #ddd;
          border-bottom: 0px solid #ddd;
}
    
 /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }
      .col-sm-10{float:right;}

.upload-drop-zone {
  height: 300px;
  border-width: 2px;
  margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 26px;
  text-align: center
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}